.header {
text-align: center;

}
body {
background-color: rgb(0, 0, 0);
}

.list {
    display: inline-block;
    margin: 0 0%;
}

.row1 {
    position: relative;
    text-align: right;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
}

.row2 {
    position: relative;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
}
.prop {
    width: 10%;
}

.slider1 {
    font-size:0;
    height: 20%;
    width: 5%;
    display: inline-block;
}

.slider2 {
    font-size:0;
    height: 20%;
    width: 5%;
    display: inline-block;
}

.firstArray {
    width: 70%;
    display: inline-block;
    margin: auto;
    padding: 0;
}

.secondArray {
    width: 70%;
    display: inline-block;
    margin: auto;
    padding: 0;
}
