.header {
text-align: center;

}
body {
background-color: rgb(0, 0, 0);
}

.list {
    display: inline-block;
    margin: 0 0%;
}

.box {
    position: relative;
    text-align: center;
    margin: auto;
    width: 100%;
}
.prop {
    width: 10%;
}

.selection {
    display: inline-block;
	position: fixed;
	left: 86%;
    top: 60%;
    height: auto;
    margin-right: 0;
    background-color: black;
    color: bisque;
}

.selection2 {
    display: inline-block;
	position: fixed;
	left: 5%;
    top: 15%;
    height: auto;
    margin-right: 0;
    background-color: black;
    color: bisque;
}

.slider {
    font-size:0;
    display: inline-block;
    transform: rotate(-90deg) translateY(350%);
}

.slider2 {
    font-size:0;
    display: inline-block;
    transform: rotate(-90deg) translateY(-350%);
}

.firstArray {
    position: relative;
    text-align: center;
    margin: auto;
    width: 100%;
}

.secondArray {
    width: 100%;
}
